<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    Hi <%= @username %>! <br />

    Welcome to Barker

    <p>Have a great day</p>
    <a href="https://www.linkedin.com/in/patricksbrown1992/" target="_blank">Here's my LinkedIn</a>
    Patrick

  </body>
</html>